# 01.intro

## shortcut

- ctrl + enter : 현재 셀 실행
- shift + enter : 현재 셀 실행 & 아래로 이동
- alt + enter :  현재 셀 실행 & 아래에 새로운 셀 추가

## 주의사항

1. Apple / apple
2. git add. / git add .
3. message / massage

# 01. 변수

```
var_name = value
```

- 변수이름은 어떤 이름이든 사용가능
- 다만 영어, 숫자, _ 를 이용해서 선언
- 키워드는 불가능

In [2]:
a = 100

In [3]:
a

100

In [1]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [4]:
seoul_dust_rate = 150

## 1.1 number

In [5]:
a = 10000

In [6]:
a

10000

In [7]:
type(a)

int

In [8]:
b = 1.1

In [9]:
b

1.1

In [10]:
type(b)

float

In [11]:
c = 1 + 1j

In [12]:
c

(1+1j)

In [13]:
type(c)

complex

## 1.2 boolean

In [14]:
a = True

In [15]:
a

True

In [16]:
type(a)

bool

In [17]:
b = False

In [18]:
b

False

## 1.3 string
- `'`, `"`를 이용하여 표현

In [19]:
a = 'hello'

In [20]:
b = "hi"

In [21]:
a

'hello'

In [22]:
print("hello my name is 'changhee'")

hello my name is 'changhee'

In [23]:
print('hello\n my name is \'changhee\'')

hello
 my name is 'changhee'

In [24]:
a = '''
hello
world
hi
'''

In [25]:
a

'\nhello\nworld\nhi\n'

In [26]:
a = 10
b = '홍길동은 a살입니다.'

### string interpolation

- %-formatting
- str.format()
- f-string

In [27]:
age = 10

In [28]:
print('홍길동은 %s살입니다.' % age)

홍길동은 10살입니다.

In [29]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 10살입니다.

In [30]:
print(f'홍길동은 {age}살입니다.')

홍길동은 10살입니다.

# 02. 연산자

## 2.1산술연산자

In [31]:
a = 5
b = 2

In [32]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
3
10
2.5

In [33]:
print(a ** b)
print(a // b)
print(a % b)

25
2
1

In [34]:
result = divmod(a, b)
print(result)

(2, 1)

## 2.2 비교연산자

In [35]:

a = 5
b = 10

In [36]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [37]:
print(a == b)
print(a != b)

False
True

In [38]:
print('hi' == 'hi')
print('hi' == 'Hi')

True
False

## 2.3 논리연사자
- and : 양쪽 모두 True 일 때, True를 반환 
- or : 양쪽 모두 False 일 때, False를 반환
- not : 상태를 부정

In [39]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [40]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [41]:
a = True
print(not a)

False

In [42]:
# 단축평가
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [43]:
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

## 2.4 복합 연산자

In [44]:
a = 2
b = 3

In [45]:
a = a + b
a = a - b
a = a * b
a = a / b

In [46]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

## 2.5 기타연산자

In [47]:
a = 'hi'
b = 'hello'

In [48]:
# concatenation
print(a + b)

hihello

In [49]:
a = [1, 2, 3]
b = [2, 3, 4]

In [50]:
print(a + b)

[1, 2, 3, 2, 3, 4]

In [51]:
print(1 in a)
print(10 in a)

True
False

In [52]:
a = 257
b = 257

In [53]:
print(a == b)
print(a is b)

True
False

### 연산자 우선순위
 0. ()를 통해서 그룹
 1. **
 2. 산술연산자(*, /)
 3. 산술연산자(+, -)
 4. 비교연산자, in, is
 5. not
 6. and
 7. or

In [54]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

# 3. 형변환

## 3.1 암시적 형변환

In [55]:
a = True
b = False
c = 1

In [56]:
print(a + b)
print(a + c)

1
2

## 3.2 명시적 형변환
- int()
- float()
- str()
- bool()

In [57]:
a = 1
b = '반'

In [58]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
print(str(a) + b)

In [ ]:
a = '3'
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

In [59]:
c = 'apple'
d = int(c)

ValueError: invalid literal for int() with base 10: 'apple'

In [60]:
a = 1
b = 0
c = -123
print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

In [61]:
print(bool(   []   ))
print(bool(   [1, 2, 3]   ))

False
True

In [62]:
1 < 2
5 == 1
1 > 2
# 셀의 마지막 값을 자동으로 output으로 출력

False

In [63]:
print(1 > 2)
print(1 > 2)
print(1 > 2)

False
False
False

In [64]:
a = 5

In [65]:
a

5

In [66]:
result = divmod(5, 2)
print(result)

(2, 1)

# 4. 시퀀스 자료형
- 시퀀스는 데이터의 **순서대로** 나열된 자료구조. (순서대로 나열되었다는 것은 정렬된것과 다르다)

1. List
2. Tuple
3. Range
4. String

## 4.1 List (리스트, 배열)
- 선언 : `var_name = [value1, value2, value3, ...]`
- 접근 : `var_name[index]`

In [67]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [68]:
location = ['서울', '대전', '부산']
print(location)
print(location[2])

location[1] = '대구'
print(location)

['서울', '대전', '부산']
부산
['서울', '대구', '부산']

## 4.2 Tuple(튜플)
- 선언 : `var_name = (value1, value2, value3, ...)`
- 접근 : `var_name[index]`
- 수정불가능하다(immutable)

In [69]:
location = ('서울', '대전', '대구')
print(location)
print(location[0])

('서울', '대전', '대구')
서울

In [70]:
location[2] = '부산'

TypeError: 'tuple' object does not support item assignment

In [71]:
result = divmod(5, 2)
print(result)
print(type(result))

(2, 1)
<class 'tuple'>

In [72]:
x = 1
y = 2

(x, y) = (y, x)
print(x, y)

2 1

## 4.3 Range
- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 s만큼 증가하는 범위

In [73]:
lotto = range(45)
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [74]:
lotto = range(1, 46)
print(lotto)
print(list(lotto))

range(1, 46)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [75]:
even = range(2, 21, 2)
print(list(even))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [76]:
numbers = range(0, -20, -2)
print(list(numbers))

[0, -2, -4, -6, -8, -10, -12, -14, -16, -18]

## 4.4 String
- 기본 데이터 구조 참고

In [77]:
s = 'hi my name is chang'
# s = ['h', 'i', ' ', 'm' ...]
print(s[1])

i

## 4.5 시퀀스에서 활용가능한 연산/함수

In [78]:
my_list = ['a', 'b', 'c', 'd', 'e']
my_tuple = (6, 7, 8, 9, 10)
my_range = range(5)
my_string = '가나다라마'

In [79]:
# indexing
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

a
6
0
가

In [80]:
# slicing
# var_name[index1:index2]
print(my_list[2:5])
print(my_tuple[2:5])
print(my_range[2:5])
print(my_string[2:5])

['c', 'd', 'e']
(8, 9, 10)
range(2, 5)
다라마

In [81]:
# 인덱스 생략
print(my_list[3:])
print(my_list[:3])

['d', 'e']
['a', 'b', 'c']

In [82]:
# 음수 인덱스
print(my_list[-1])
print(my_list[1:-1])

e
['b', 'c', 'd']

In [83]:
# step
print(my_list[::2])

['a', 'c', 'e']

In [84]:
# in, not in 
print(1 in my_list)
print('a' in my_list)

print('z' not in my_list)

False
True
True

In [85]:
# concatennation
print(my_list + [1, 2, 3, 4, 5])
print(my_tuple + (1, 2, 3))

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5]
(6, 7, 8, 9, 10, 1, 2, 3)

In [86]:
# * 
print(my_list * 2)
print('a' * 5)

# [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
print([0] * 10)

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']
aaaaa
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [87]:
len(my_list)

5

In [88]:
max(my_list)

'e'

In [89]:
min(my_list)

'a'

# 5. 시퀀스형이 아닌 자료구조

## 5.1 Set
- 수학에서의 집합과 비슷한 개념 (중복값이 없음)

- 선언 : `var_name = {value1, value2, value3, ...}`

In [90]:
my_set_a = {1, 2, 3, 4, 5, 5, 5, 5, 5, 5, 5}
my_set_b = {1, 3, 5, 7, 9}

In [91]:
print(my_set_a)
print(my_set_b)

{1, 2, 3, 4, 5}
{1, 3, 5, 7, 9}

In [92]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
print(my_set_a & my_set_b)

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [93]:
location = ['서울', '대구', '부산', '광주', '부산', '광주', '부산', '광주', '부산', '광주', '부산', '광주', '부산', '광주', '부산', '광주', '부산', '광주', '부산', '광주', '부산', '광주']
print(set(location))

{'대구', '서울', '광주', '부산'}

## 5.2 Dictionary
- 선언 : `var_name = {key1: value1, key2: value2, key3: value3, ...}`
- 접근 : `var_name[key]`

In [94]:
my_dict = {'서울': '02', '경기': '031'}
print(my_dict['서울'])

02

In [95]:
my_info = {
    'name': 'changhee',
    'location': 'seoul',
    'age': 10,
    'skill': ['python', 'git']
}

In [96]:
print(my_info['name'])
print(my_info['age'])
print(my_info['skill'][1])

changhee
10
git

**데이터 타입**
1. Number
2. Boolean
3. String

**자료구조**
- 시퀀스
1. [List] : mutable
2. (Tuple) : immutable
3. range() : immutable
4. 'String' : immutable 

- 시퀀스가 아닌것
1. {Set} : mutable
2. {Dict: ionary} : mutable

In [97]:
a = 'hello'
a[0] = 'H'

TypeError: 'str' object does not support item assignment

In [99]:
my_t = (1, 2, 3)
my_t = (2, 3, 4)