# 제어문

In [7]:
## if 문
a = input("is it chritmas?")
print(a)
if a == '12/25':
    print("YES")
elif a == '1/1':
    print('it is new year\'s day')
else:
    print("NO")

is it chritmas? 1/1

1/1
it is new year's day

In [9]:
num = int(input())
if num % 2 == 0 :
    print('even')
else:
    print('odd')

 3

odd

In [12]:
num = int(input())
if num % 2:
    print('odd')
else:
    print('even')

 12

even

In [22]:
num = int(input('5의 배수임?'))
if num % 5:
    print('NO')
elif num == 0:
    print('NO')
else:
    print('YES')

5의 배수임? 12

NO

In [25]:
score = int(input())
if score >= 90:
    print("A", end='')
    if score >= 95:
        print("+")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
else:
    print("F")

 95

A+

In [31]:
## 조건 표현식
a = 100 if True else -100
print(a)

100

In [35]:
num = int(input())
if num >= 0:
    result = num
else:
    result = 0

result2 = num if num >= 0 else 0

print(result)
print(result2)

 -1

0
0

In [37]:
num = int(input())
if num % 2 ==0:
    result = '짝수'
else:
    result = '홀수'
print(result)

 2

짝수

In [39]:
## while문
a = 0
while a < 5:
    print(a)
    a += 1

0
1
2
3
4

In [42]:
## for문
numbers = [1,2,3,4,5]
for number in numbers:
    print(number)
for i in range(1, 6):
    print(i)

1
2
3
4
5
1
2
3
4
5

In [44]:
numbers = range(1, 51)
for number in numbers:
    if number % 5 == 0:
        print(number)

5
10
15
20
25
30
35
40
45
50

In [47]:
locations = ['seoul', 'busan', 'daejeon']
for i, j in enumerate(locations):
    print(i, j)

0 seoul
1 busan
2 daejeon

## dictionary
1. for key in dict
2. for key in dict.keys()
3. for value in dict.values()
4. for key, value in dict.items()

In [57]:
info = {
    'name': 'sj',
    'location': 'ucity'
}
for k in info:
    print(k)
for k in info.keys():
    print(k)
    print(info[k])
for k in info.values():
    print(k)
for k, v in info.items():
    print(k, v)

name
location
name
sj
location
ucity
sj
ucity
name sj
location ucity

In [60]:
b_t = {
    'a': 5,
    'b': 8,
    'o': 5,
    'ab': 4
}
result = 0
for k in b_t.keys():
    print(k)
for k in b_t.values():
    result += k
for k, v in b_t.items():
    print(f'{k}형은 {v}명입니다')
print(result)

a
b
o
ab
a형은 5명입니다
b형은 8명입니다
o형은 5명입니다
ab형은 4명입니다
22

In [61]:
## break
for i in range(100):
    print(i)
    if i > 5:
        break

0
1
2
3
4
5
6

In [63]:
while True:
    rice = input()
    if rice == '쌀':
        print('야호')
        break

 보리
 보리
 보리
 싸ㄹ
 쌀

야호

In [64]:
for i in range(20):
    if i % 2 == 1:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [67]:
## else문
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print('헤이')

0
1
2
3
4
5